{% extends "base.html" %}
{% load url from future %}
{% load thumbnail %}

{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/pages/global.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/pages/empreendimentos.css">
{% endblock css %}

{% block js %}
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>    

    <script>
        function initialize() {
            var myLatlng = new google.maps.LatLng({{ empreendimento.latitude }}, {{ empreendimento.longitude }});
            var mapOptions = {
                zoom: 16,
                center: myLatlng
            }

            var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>    
{% endblock js %}

{% block main %}
    <div class="grid-960">
        <div class="area-restrita-bar">
            {% if request.user.is_authenticated %}
                <p class="text1 welcome">Bem Vindo(a), <b>{% if user.first_name %}{{ user.first_name|capfirst }}{% else %}{{ user.username|capfirst }}{% endif %}</b></p>
                <a class="text1 voltar" href="{% url 'appsite:area_restrita' %}">Voltar</a>
                <a class="text1" href="{% url 'appsite:logout' %}">Sair</a>
            {% endif %}
            <p class="text2">DETALHES - {{ empreendimento.nome|upper }}</p>
        </div>
    </div>

    <div class="main-container">
    	<div class="detalhe-content">
            <div class="description">
                <h1 class="text2">Descrição</h1>
                {{ empreendimento.descricao|safe }}
            </div>

            <div class="implantacao">
                <h1 class="text2">Implantação</h1>
                
                {% thumbnail empreendimento.implantacao "640x480" as im %}
                    <img src="{{ im.url }}" alt="implantacao - {{ empreendimento.slug }}">
                {% endthumbnail %}                
            </div>

            <div class="ficha-tecnica">
                <h1 class="text2">Ficha Técnica</h1>
                {{ empreendimento.ficha_tecnica|safe }}

                {% if empreendimento.metragem %}
                    <h2 class="text4">Metragem</h2>
                    {{ empreendimento.metragem|safe }}
                {% endif %}
            </div>

            <div class="localizacao">
                <h1 class="text2">Localização</h1>
                {{ empreendimento.endereco }} - {{ empreendimento.bairro }} - {{ empreendimento.cidade }} - {{ empreendimento.estado }}

                <h2 class="text4">Mapa</h2>
                <div id="map_canvas"></div>
            </div>

            {% if plantas %}
                <div class="plantas">
                    <h1 class="text2">Plantas</h1>
                    <ul>
                        {% for p in plantas %}
                            <li>
                                <a class="fancybox" rel="group" href="{{ MEDIA_URL }}{{ p.imagem }}" title="{{ p.legenda }}">
                                {% thumbnail p.imagem "180x130" crop="center" upscale="true" quality=90 as im %}
                                    <img src="{{ im.url }}" alt="{{ p.legenda }}" title="{{ p.legenda }}">
                                {% endthumbnail %} 
                                </a>                       
                            </li>
                        {% endfor %}
                    </ul>                    
                </div>
            {% endif %}

            {% if fotos %}
                <div class="fotos">
                    <h1 class="text2">Fotos</h1>
                    <ul>
                        {% for f in fotos %}
                            <li>
                                <a class="fancybox" rel="group" href="{{ MEDIA_URL }}{{ f.imagem }}" title="{{ f.legenda }}">
                                    {% thumbnail f.imagem "180x130" crop="center" upscale="true" quality=90 as im %}
                                        <img src="{{ im.url }}" alt="{{ f.legenda }}" title="{{ f.legenda }}">
                                    {% endthumbnail %}
                                </a>                        
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
    	</div>
    </div>
{% endblock main %}