$color_preto: #000000;
$color_branco: #ffffff;
$color_vermelho: #7c2004;
$color_marrom: #664840;
$color_hover: #300c01;
$color_cinza: #EFEFF0;
$color_bege: #f8f3f1;
$color_marrom_escuro: #3D2B26;
