{% extends "base.html" %}
{% load url from future %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pages/global.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pages/area_restrita.css">
{% endblock css %}

{% block js %}
    {# // <script src="{{ STATIC_URL }}js/login.js"></script> #}
{% endblock js %}

{% block main %}
    <div class="grid-960">
        <div class="area-restrita-bar">
            <p class="text1 welcome">Bem Vindo(a), <b>{% if user.first_name %}{{ user.first_name|capfirst }}{% else %}{{ user.username|capfirst }}{% endif %}</b></p>
            <a class="text1 voltar" href="{% url 'appsite:area_restrita' %}">Voltar</a>
            <a class="text1" href="{% url 'appsite:logout' %}">Sair</a>
            <p class="text2">AREA RESTRITA</p>
        </div>
    </div>

	<div class="main-container">
        <div class="restrita-content">
            <ul class="clearfix">
                <li class="restrita-box">
                    <a href="{% url 'empreendimentos:restrita_empreendimentos' %}" class="expand link"></a>
                    <i class="fa fa-building-o fa-8x"></i>
                    <p class="text3">Empreendimentos</p>
                </li>
                <li class="restrita-box">
                    <a href="{% url 'imoveis:restrita_imoveis' %}" class="expand link"></a>
                    <i class="fa fa-home fa-8x"></i>
                    <p class="text3">Imóveis</p>
                </li>
                <li class="restrita-box">
                    <a href="{% url 'clientes:pre_cadastro_clientes' %}" class="expand link"></a>
                    <i class="fa fa-user fa-8x"></i>
                    <p class="text3">Pré-cadastro Clientes</p>
                </li>
                <li class="restrita-box">
                    <a href="{% url 'clientes:cadastro_clientes' %}" class="expand link"></a>
                    <i class="fa fa-group fa-8x"></i>
                    <p class="text3">Cadastro Clientes</p>
                </li>                
            </ul>
        </div>
	</div>
{% endblock main %}    