{% extends "base.html" %}
{% load url from future %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pages/login.css">
{% endblock css %}

{% block js %}
    <script src="{{ STATIC_URL }}js/login.js"></script>
{% endblock js %}

{% block main %}
    <div class="grid-960">
        <div class="top-bar">
            <p class="text2">LOGIN</p>
        </div>
    </div>

    <div class="main-container">
        <div class="main-contact">
            <form action="{% url 'appsite:logado' %}" method="POST" class="form" id="formulario">
                {% csrf_token %}
                <ul>
                    {{ form.as_ul }}
                </ul>
                
                <div class="button">
                    <div class="loading"></div>
                    <input type="submit" value="LOGIN" id="login" class="text1">
                </div>
            </form>
        </div>
    </div>  
{% endblock main %}